body {
  text-align: center;
  background: #233435;
  font-family: sans-serif;
  font-weight: 100;
}

.countdown-title {
  color: rgb(98, 175, 158);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.timer {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.field {
  padding: 10px;
  border-radius: 3px;
  background: #93b8c9;
  display: inline-block;
}

.value {
  padding: 15px;
  border-radius: 3px;
  background: #62978d;
  display: inline-block;
}

.clabel {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
